@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #828282;
  --icon-color: #0479c2;
}

body {
  background-color: #f0f0f0;
}

@keyframes subtleJump {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.animate-subtle-jump {
  animation: subtleJump 2s ease-in-out infinite;
}

/* Style for Lucide icons */
.text-center svg {
  color: var(--icon-color);
  stroke: var(--icon-color);
}

/* Additional style for Solutions section icons */
.solutions-card svg {
  color: var(--icon-color);
  stroke: var(--icon-color);
}